
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}
.icon{
    font-size: 100px;

}

.logo{
    cursor: pointer;
    width: 100px;

}
::-webkit-scrollbar{
    display: none;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(brooklyn-bridge-1791001_640.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(5px);
    z-index: 999;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{

    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #e4d616;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #e4d616;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #e4d616;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
@media   (max-width:568px){
    .navbar ul li{
        list-style: none;
        display: none;
        margin: 0 20px;
        position: relative;
    }

    
}
